/* Styles for Daily Briefing */
.container {
    width: 85%;
}


body {
  color: #565A5C;
  background-color: #EDEFED;
  font-family: 'Hind', sans-serif;
}

.capitalize {
    text-transform: capitalize;
}

/* ======================================================================
  Animations
===================================================================== */

/* Custom fadeInDown */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Custom fadeInUp */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Custom shake */
.shake {
  -webkit-animation-duration: .8s;
}

/* ======================================================================
  NavBar
===================================================================== */
.logo {
  height: 57px;
  padding-left: 15px;
  padding-top: 7px;
}

nav {
transition-duration: 1s;
background-color:transparent;
}


/* ======================================================================
  SLIDER AREA
===================================================================== */

.header-unit {
  height: 500px;
  position: relative;
  margin-top: -65px;
  z-index: 0;
}
#video-container {
  position: absolute;
  z-index: 0;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
  z-index: 0;
}
video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  width: 100%;
}

.video-header{
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 65px;
}

.slogan {
  color: #fff;
  text-align: center;
  padding-top: 0px;
}

.subheading{
  margin-top: -17px;
}

#selected-city {
  margin-top: 170px; /* this pushes the input field down to the bottom of the video-container */
  background-color: white;
  opacity: 0.3
}

#selected-city:focus {
  background-color: white;
  opacity: 0.6;
}

#search-button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
   color: #666666;
 }

/* ======================================================================
  CONTENT GRID
===================================================================== */

.test {
  width: 100%;
  height:500px;
  background-color: white;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

/* ======================================================================
  TRAFFIC
===================================================================== */

#map {
  width: 100%;
  height: 400px;
}

#traffic-row {
  background-color: white;
  margin-top: 0;
  padding-top: 0;
}

.traffic-heading {
  height: 100px;
  margin-bottom: 3px;
}

.traffic-map {
  padding: 0;
  margin-top: 11.25px
}

.traffic-map h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 30px;
}

.nav-wrapper {
  z-index: 1;
}

/*======================================================================
    NEWS
  ======================================================================*/

#news > * {
  color: black;
  z-index: 2;
}

.news-content {
  position: absolute;
  top: 95px;
}

.news-heading {
  margin: 0px;
  height: 100px;
  position: relative;
}

.news-heading h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

#news-image {
  width: 100%;
}

#news-column {
  width: 100%;
  margin-top: -2px;
  position: relative;
  z-index: 1;
  height: 1000px;
}

#news-column > h1 {
  margin: 0px;
  /*overflow: scroll;*/
}

.row {
  background-color: white;
}

.news-header {
  font-size: 1.2em;
  font-weight: bold;
  min-height: 2rem;
  line-height: 2.5rem;
  position: relative;
}

.news-header:hover {
  font-size: 1.2em;
  font-weight: bold;
  min-height: 2rem;
  line-height: 2.5rem;
  position: relative;
  background-color: #f2f2f2;
}

.news-source {
  font-size: 0.8em;
  font-weight: normal;
  color: #8c8c8c;
  margin-top: 0;
}

.collapsible-header .chevron-down {
  display: none;
  width: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-right: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.collapsible-header .chevron-up {
  display: none;
  width: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-right: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.article-title {
  position: inherit;
}

/* =====================================================================
    FLICKR
====================================================================== */
#flickr-row{
  padding-right: 15px;
  padding-left: 15px;
}

.slick-slide img {
    padding-left: 10px;
}

.slick-arrow{
  color:  #00355F;
}

.newArrows {
    position: absolute;
    top: 120px;
    left: 40px;
}
/* =====================================================================
    TWITTER TIMELINE
====================================================================== */

#tweets {
  padding: 0;
}

.timeline {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 500px;
}

/*===================================================================
    CLOCK AREA
  ==================================================================*/

#target-time {
  display: none;
}

#greeting-row {
  margin-top: 20px;
}

#clock-img-container{
  height: 130px;
}

#parallax-clock {
  width: 768px;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-image {
  height: 130px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.greeting-time {
  height: 130px;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.greeting-time h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#greeting, #location-info {
  height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.time {
  font-size: 1.5rem;
  font-weight: bold;
}

.greeting-heading {
  margin: 0;
  font-size: 27px;
}

/*======================================================================
    FOOTER
=======================================================================*/

footer.page-footer {
  background-color: #00355F;
}

#footer-row {
  background-color: white;
}
