/* Styles for Daily Briefing */
.container {
    width: 85%;
}


body {
  color: #565A5C;
  background-color: #EDEFED;
  font-family: 'Josefin Sans', sans-serif;
}

.capitalize {
    text-transform: capitalize;
}

.row-background{
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrapper{
    background-color: #00355F;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-direction: alternate;
    -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
    animation-iteration-count: 2;
}

.section-title{
  padding-left: 15px;
}


/* ======================================================================
  Animations
===================================================================== */

/* Custom fadeInDown */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Custom fadeInUp */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Custom shake */
.shake {
  -webkit-animation-duration: .8s;
}

/* ======================================================================
  NavBar
===================================================================== */
.logo {
  height: 57px;
  padding-left: 15px;
  padding-top: 7px;
}

nav {
transition-duration: 1s;
background-color:transparent;
}

.fit-nav-height {
  height: 64px;
}


/* ======================================================================
  SLIDER AREA
===================================================================== */

.header-unit {
  height: 500px;
  position: relative;
  margin-top: -65px;
  z-index: 0;
}

#video-container {
  position: absolute;
  z-index: 0;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
  z-index: 0;
}

video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  width: 100%;
}

.video-header{
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 65px;
}

.slogan {
  color: #fff;
  text-align: center;
  padding-top: 0px;
}

.subheading{
  margin-top: -17px;
}

#selected-city {
  margin-top: 180px; /* this pushes the input field down to the bottom of the video-container */
  background-color: white;
  opacity: 0.3;
}

#selected-city:focus {
  background-color: white;
  opacity: 0.6;
}

#search-button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
   color: #666666;
 }

/* ======================================================================
  CONTENT GRID
===================================================================== */

.parallax-container{
  z-index: 1;
  
}

/* ======================================================================
  WEATHER
===================================================================== */

#weather-row{
  margin-top: 20px;
}

.section-title{
  display: inline-block;
}

#weather-icon{
  padding-left: 15px;
  display: inline-block;
  position: relative;
  top: 14px;
}

#weather-tomorrow{
  padding-top: 40px;
}

h5#weather{
      padding-left: 10px;
}

/* ======================================================================
  TRAFFIC
===================================================================== */

#map {
  width: 100%;
  height: 400px;
}

#traffic-row {
  background-color: white;
  margin-top: 0;
  padding-top: 0;
}

.traffic-heading {
  height: 100px;
  margin-bottom: 8px;
}

.traffic-map {
  padding: 0;
  margin-top: 15px;
}

.traffic-map h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 30px;
}

.nav-wrapper {
  z-index: 1;
}

/*======================================================================
    NEWS
  ======================================================================*/

#news > * {
  color: black;
  z-index: 2;
}

.news-content {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: scroll;
  margin-top: 10px;
}

.news-content::-webkit-scrollbar {
 display: none;
}

.news-heading {
  margin: 0px;
  height: 100px;
  position: relative;
}

.news-heading h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

#news-image {
  width: 100%;
}

#news-column {
  width: 100%;
  padding-left: 11px;
  padding-right: 11px;
  position: relative;
  z-index: 1;
  height: 810px;
}

#news-column > h1 {
  margin: 0px;
  /*overflow: scroll;*/
}

.news-header {
  font-size: 1.2em;
  font-weight: bold;
  min-height: 2rem;
  line-height: 2.5rem;
  position: relative;
}

.news-header:hover {
  font-size: 1.2em;
  font-weight: bold;
  min-height: 2rem;
  line-height: 2.5rem;
  position: relative;
  background-color: #f2f2f2;
}

.news-source {
  font-size: 0.8em;
  font-weight: normal;
  color: #8c8c8c;
  margin-top: 0;
}

.collapsible-header .chevron-down {
  display: none;
  width: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-right: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.collapsible-header .chevron-up {
  display: none;
  width: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-right: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.article-title {
  position: inherit;
}

ul#news.collapsible{
  margin-top: 0px;
  margin-bottom: 0px;
}

#news-col{
  padding-left: 0px;
  padding-right: 7.5px;
}

/* =====================================================================
    EVENTS
====================================================================== */
.eventColumn{
  width: 100%;
  height: 650px;
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}

#events-col{
  padding-left: 7.5px;
  padding-right: 0px;
}

#events-column{
  padding-left: 11px;
  padding-right: 11px;
}

.events-heading {
  margin: 0px;
  margin-bottom: 15px;
  height: 100px;
  position: relative;
}

.events-heading h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

#eventTable{
  margin-top: -15px;
}

#events-image {
  width: 100%;
}

.p-events{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  
}

.p-events:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.h-events{
  text-align: center;
}

td>img{
  display: block;
  margin: 0 auto;
}

#eventsTitle{
  color: white;
}

/* =====================================================================
    FLICKR
====================================================================== */
#flickr-row{
  padding-right: 30px;
  padding-left: 30px;
  height: 660px;
  
}

.slick-slide img {
    padding-left: 10px;
}

.slick-arrow{
  color:  #00355F;
}

.slick-slider{
  margin-bottom: 0px;
}

/* This makes the target area larger so the user doesn't have to click directly on the button. Clicking the entire left or right side of the carousel will allow the next or prev pic to show. */
.slick-prev, .slick-next {
  height: 775px;
}

/*======================================================================
    FOOTER
=======================================================================*/

footer.page-footer {
  background-color: #00355F;
}

#footer-row {
  background-color: white;
}

/*======================================================================
    MEDIA QUERIES
=======================================================================*/
@media (max-width: 480px) {
  
  .flckrheader{
    font-size: 30px;
    line-height: 100%;
    margin: 10px;
  } 

  h3 {
    font-size: 20px;
    line-height: 100%;
    margin: 1.46rem 0 1.168rem 0;
  }

  h5.slogan {
    font-size: 16px;
    line-height: 100%;
    margin-top: -10px;
  }

  #selected-city {
    margin-top: 140px;
  }

  .news-content {
    max-height: 620px;
    overflow: scroll;
  }

  #greeting-row {
    margin-top: 0;
    padding-bottom: 0;
  }

  .greeting-time {
    height: 68px;
  }

  #greeting, #location-info {
    height: 80px;
  }

  #weather-row {
    margin-top: 20px;
  } 

  .weather-parallax{
    height: 330px;
  }

  .profile-img-padding{
    margin-top: 15px;
    margin-left: 9px;
  }

  .darryl-profile-img{
    margin-left: 9px;
  }

  #news-col{
    padding-right: 0px;
  }

   #events-col{
    padding-left: 0px;
  }

  #events-column{
    margin-top: 30px;
  }

  .eventColumn{
    margin-top: 0px;
  }

@media (min-width: 767px) and (max-width: 1199px){
  #weather-row {
    margin-top: -42px;
  }    
}

/* Remove white space between slider and clock-row */
@media only screen and (max-width: 600px) {
  .header-unit {
    height:50%;
  }
}