/* Styles for Daily Briefing */

body {
  color:#fff;
  font-family: 'Hind', sans-serif;
}

/* ======================================================================
  Animation
===================================================================== */

/* Custom fadeInDown */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Custom fadeInUp */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

  /* ======================================================================
   SLIDER AREA
   ===================================================================== */

.header-unit {
  height: 500px;
  position: relative;
  margin-top: -65px;
  z-index: 0;
}
#video-container {
  position: absolute;
  z-index: 0;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
  z-index: 0;
}
video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  width: 100%;
}

.video-header{
  position: absolute;
  z-index: 1;
  width: 100%;
}

.slogan {
  color: #fff;
  text-align: center;
  padding-top: 0px;
}

#selected-city {
  margin-top: 130px; /* this pushes the input field down to the bottom of the video-container */
  background-color: white;
  opacity: 0.3
}

#selected-city:focus {
  background-color: white;
  opacity: 0.6;
}

#search-button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
   color: #666666;
 }

 /* ======================================================================
 CONTENT GRID
 ===================================================================== */

.test {
  width: 100%;
  height:500px;
  background-color: #333;
  margin-top: 15px;
}

/* ======================================================================
TRAFFIC
 ===================================================================== */

#map {
  width: 100%;
  height: 400px;
}

.nav-wrapper {
  z-index: 1;
}

