/* Styles for Daily Briefing */

body {
  color:#fff;
  font-family: 'Hind', sans-serif;
}

.header-unit {
  height: 500px;
  position: relative;
  z-index: 0;
}
#video-container {
  position: absolute;
  z-index: 0;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
  z-index: 0;
}
video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  width: 100%;
}

.video-header{
  position: absolute;
  z-index: 1;
  width: 100%;
}

.slogan {
  color: #fff;
  text-align: center;
}

#selected-city {
  margin-top: 400px; /* this pushes the input field down to the bottom of the video-container */
  background-color: white;
  opacity: 0.3
}

#selected-city:focus {
  background-color: white;
  opacity: 0.6;
}

#search-button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
   color: #666666;
 }

.test {
  width: 100%;
  height:500px;
  background-color: #333;
  margin-top: 15px;
}

#map {
  width: 100%;
  height: 400px;
}
