.minimus-slider {
	position: relative;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.minimus-slide {
	position: absolute;
	left: 0;
	top: 0;
}

.minimus-navslide {
	/* style as you wish, this is only an example */
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}

.minimus-navslide span {
	position: relative;
	cursor: pointer;	
}
						
.minimus-caption {
	/* style as you wish, this is only an example */
	position: absolute;
	bottom: -2.625em;
	width: 100%;
	background: rgba(20,20,20,0.7);
	color: #f7f7f7;
	border: none;
	border-top: 1px solid #404040;
}